* {
  font-style: normal;
  font-family: "Verdana", sans-serif;
}
body {
  margin: 0px;
}
h2 {
  text-align: center;
}
.navbar {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: rgba(0,0,0,0.85);
  margin-bottom: 50px;
  color: white;
  padding: 35px;
  box-shadow: 1px 1px 30px grey;
}
.nav-link {
  color: inherit;
  font-size: 25px;
  font-style: bold;
  font-family: "Verdana", sans-serif;
  padding: 40px;
  text-decoration: none;
}
.nav-link:hover {
  text-decoration: underline;
}
button {
  background-color: lightgrey;
  border: solid 1px lightblue;
  padding: 10px 32px;
  text-align: center;
  display: inline-block;
}
input {
  border-radius: 5px;
  font-size: 20px;
  margin: 10px;
  width: 300px;
}
button {
  box-shadow: 1px 1px 6px grey;
}
textarea {
  font-size: 20px;
  margin: 10px;
  width: 300px;
}
table {
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  border-collapse: collapse;
  box-shadow: 1px 1px 30px grey;
  width: 650px;
}
th, td {
  border-bottom: 1px solid lightgrey;
  padding: 10px 50px;
}
th {
  color: white;
  background-color: black;
}
table tr:nth-child(odd) {
  background-color: lightblue;
}

.popup {
  border-radius: 10px;
  display: none;
  text-align: center;
  color: white;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  left: 50%;
  top: 20%;
  margin-left: -200px;
  padding: 20px;
}
